* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;;
    font-weight: 400;
    background: rgb(11,7,89);
    background: linear-gradient(90deg, rgba(11,7,89,1) 20%, rgba(96,20,139,1) 40%, rgba(129,43,226,1) 93%);
}

.grid-container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(80px, auto) repeat(5, 80px);
}

.grid-container > button {
    font-weight: bold;
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #111;
    outline: none;
    border: none;
    background-color: #111;
    color: #eee;
}

.grid-container > button:hover {
    background-color: #812a2a;
}

.grid-container > button.operator {
    color: #ce2c2c;
    background: #a1a1a1ab;
}

.grid-container > button.operator:hover {
    background-color: #c272c2;
}

.grid-container > button.equals {
    grid-row: span 2;
    background: #b94343;
}

.grid-container > button.equals:hover {
    background: #863e3e;
}

.grid-container > .output {
    grid-column: 1 / -1;
    background-color: #111;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    color: white;
    word-wrap: break-word;
    word-break: break-all;
}

.grid-container > .output > .result-top {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.514);
}

.grid-container > .output > .result-bottom {
    font-size: 1.40rem;
}
